page-involve {
  // App iOS Variables
  $loading-ios-background: transparent;
  $loading-ios-box-shadow: transparent;
  $loading-ios-spinner-color: white;

  // App Material Design Variables
  $loading-md-background: transparent;
  $loading-md-box-shadow: transparent;
  $loading-md-spinner-color: white;
}
